<div id= "recipe_view_navbar" class= "navbar navbar-fixed-bottom">
  <div class= "navbar-inner">
    <div class= "container">
      <div class= "nav pull-right">
          <form action="/recipes/<%= @recipe.id %>" method="post">
          <input name="_method" type="hidden" value="delete">
          <button data-confirm="Are you sure you would like to delete this recipe?" class='btn btn-danger nav'>Delete Recipe</button>
          </form>
      </div>
      <div class= "nav pull-right">
        <a href="/recipes/new" class="btn btn-success nav" rel="nofollow">New Recipe</a>
        <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning nav" rel="nofollow" style="margin-right:3px">Edit Recipe</a>
      </div>
    </div>
  </div>
</div>
