<%= content_for :title, "Update Recipe" %>
<h1>Update <%= @recipe.name %> Recipe</h1>
<%= render 'form' %>

<div id= "recipe_view_navbar" class= "navbar navbar-fixed-bottom">
  <div class= "navbar-inner">
    <div class= "container">
      <div class= "nav pull-right">
        <%= link_to "New Recipe", new_recipe_path, :class=> "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
