<h2>Today's hottest recipes:</h2>
<ul>
  <% @recipes.each do |recipe| %>
    <li><a href= "/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
</ul>

<div id= "recipe_main_navbar" class= "navbar navbar-fixed-bottom">
  <div class= "navbar-inner">
    <div class= "container">
      <div class= "nav pull-right">
        <%= link_to "New Recipe", new_recipe_path, :class => "btn btn-success" %>
        <!-- <a href="/recipes/new" class="btn btn-success nav" rel="nofollow">New Recipe</a> -->
      </div>
    </div>
  </div>
</div>
