<h1 class= "jumbotron">Recipe Central &#8482<h1>
<h3>Today's hottest recipes:</h3>
<ul>
  <% @recipes.each do |recipe| %>
    <li><a href= "/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
</ul>
